<!DOCTYPE html>
<html>
<head>
    <title>Availability Updated</title>
</head>
<body>
    <h1>Availability of Dish {{ dishId }} has been updated.</h1>
    <a href="/">Menu</a><br>
    <a href="/menu/add/">Add Dish</a><br>
    <a href="/menu/remove/">Remove Dish from Menu</a><br>
    <a href="/order">All Orders</a><br>
    <a href="/order/takeorder">New Order</a><br>
    <a href="/order/UpdateStatus/">Update Order Status</a><br>
    <a href="/order/filter/">Filter Order by Status</a><br>
</body>
</html>