<!DOCTYPE html>
<html>
<head>
    <title>Filtered Order Data</title>
</head>
<body>
    <h1>Filtered Order Data</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Dish Name</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        {% for order in updated_order_data %}
            <tr>
                <td>{{ order.OrderId }}</td>
                <td>{{ order.CustomerName }}</td>
                <td>{{ order.dishName }}</td>
                <td>{{ order.Price }}</td>
                <td>{{ order.Status }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Menu</a><br>
    <a href="/menu/add/">Add Dish</a><br>
    <a href="/menu/remove/">Remove Dish from Menu</a><br>
    <a href="/menu/update/">Update Dish Availability</a><br>
    <a href="/order">All Orders</a><br>
    <a href="/order/takeorder">New Order</a><br>
    <a href="/order/UpdateStatus/">Update Order Status</a><br>
</body>
</html>