<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Within your order list template -->
    
        <form method="post" >
            {% csrf_token %}
            <select name="status">
                <option value="Preparing">Preparing</option>
                <option value="Ready for PickUp">Ready for PickUp</option>
                <option value="Received">Received</option>
                <option value="Delivered">Delivered</option>
            </select>
            <button type="submit">Update Status</button>
        </form>

        <br>
        <a href="/">Menu</a><br>
        <a href="/menu/add">Add Dish</a><br>
        <a href="/menu/remove/">Remove Dish from Menu</a><br>
        <a href="/menu/update/">Update Dish Availability</a><br>
        <a href="/order">All Orders</a><br>
        <a href="/order/takeorder">New Order</a><br>
        <!-- <a href="/order/UpdateStatus/">Update Order Status</a> -->
        <a href="/order/filter/">Filter Order by Status</a><br>

</body>
</html>